<% if logged_in? %>
  <div class="row">
    <aside class="col-md-2" id="home_aside">
      <section class="phrase_list" id="phrase_list">
        <div class="col-md-12" id="phrase_list_header">
          <h1>楽譜リスト</h1>
          <span id="phrase_list_count"><%= @phrases.size %> 曲</span>
        </div>
        <%= render @phrases %>
      </section>
    </aside>
    <div class="col-md-7 bg-F7F7F7" id="abc-paper">
      <%= render 'abc_phrases/abc_paper' %>
    </div>
    <div class="col-md-3", id="abc-edit">
      <%= render 'abc_phrases/abc_edit' %>
    </div>
  </div>
  <script>initMeter("");</script>
  <script>initLength("");</script>
  <script>initKey("");</script>
  <script>updateAbcArea()</script>
  <script>showTopPhrase()</script>
  <script type="text/javascript">
    window.onload = function() {
      abc_editor = new ABCJS.Editor("area", { paper_id: "paper0", warnings_id:"warnings" });
    }
  </script>
<% else %>
  <div id="home-top1" class="center bg-gray">
    <%= image_tag 'logo.png' %>
    <h2>あなただけの楽譜集を作成できるサービス</h2>
    <div class="row">
      <div class="col-md-1 col-md-offset-5">
        <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
      <div class="col-md-1">
        <%= link_to "Log in",       login_path,  class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
  <!--
  <div id="home-top2" class="center">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= image_tag 'logo.png' %>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <h2>あなただけの楽譜集を作成できるサービス</h2>
      </div>
    </div>
  </div>
  -->
<% end %>
