<header class="navbar navbar-inverse mb-0">
  <div class="container-fluid">
    <%= link_to (fa_icon "music", text: "Noten", class: "text-info"), root_path, id: "logo" %>
    <nav>
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target="#navbar-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>

				<!-- search -->
        <%= form_tag "#", class: "navbar-form navbar-right", method: :get do %>
          <div class="form-group">
            <%= text_field_tag :q, params[:q], class: "form-control margin-bottom-0", placeholder: "keyword" %>
          </div>
          <%= button_tag class: "btn btn-info" do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <% end %>
        <% end %>

				<!-- tag -->
        <%= button_tag class: "btn btn-info navbar-btn navbar-right margin-LR-15", "data-toggle": "modal", "data-target": "#tagModal" do %>
          <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        <% end %>
        <div id="tagModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">タグ検索</h4>
                    </div>
                    <div class="modal-body">
                      登録されているタグがありません。
                    </div>
                    <div class="modal-footer">
                        <%= button_tag "キャンセル", class: "btn btn-default", "data-dismiss": "modal" %>
                        <%= button_tag "検索", class: "btn btn-info", "data-dismiss": "modal" %>
                    </div>
                </div>
            </div>
        </div>

				<!-- book -->
        <%= button_tag class: "btn btn-info navbar-btn navbar-right margin-R-15" do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <% end %>

				<!-- plus -->
        <%= form_tag "abc_phrases", class: "navbar-form navbar-right", method: :post, remote: true do %>
          <%= button_tag class: "btn btn-info" do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </div>
    </nav>
  </div>
</header>
